.header {
  text-align: center;
  display: flex;
  height: 100px;
  flex-direction: row;
  background-image: linear-gradient(to right, rgb(183, 183, 183),rgb(113, 113, 113));
  padding-top: 15px;
  border: 0px solid grey;
  border-radius: 0px;
  box-shadow: 0 10px 30px -12px rgba(0, 0, 0, 0.42),
    0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}
.logo {
  padding-top: 13px;
  padding-left: 10px;
}

.loggedinusername{
  display: flex;
  flex-direction: column;
  height: 8px;
  margin-top: 15px;
  margin-left: 8px;
  align-content: center;
}

p {
  margin: 0px;
  padding-bottom: 3px;
}
.loginlink {
  margin-top: 8px;
  margin-left: 25px;
  text-decoration: none;
  color: black;
}
a, p{
  text-decoration: none;
  color: black;
}

.navlinks {
  flex-direction: row;
  height: 75px;
  width: 120px;
  padding-top: 10px;
  padding-left: 10px;
}
a {
  height: 50px;
}

/* @media only screen and (min-width: 400px){
  .navlinks{
    align-self: flex-end;
  }
} */



